h1 {
    color: aqua;
}
.main{
    color: aqua;
}

.mail{
    color: red;
}

.phone{
    color: rgb(67, 189, 77);
}

.social{
    color: rgb(106, 50, 143);
}

.social{
    color: pink ;
}

.social2{
    color: rgb(35, 180, 42);
}

body {
    background-color: rgba(236, 22, 94, 0);
}


 nav {
    color: blue;
}

.about {
    font-size: large;
    color: rgb(40, 105, 10);
}

p {
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 
